body {
    background-image: url("фон1.jpg");
    font-size: 17px;
    font-family: 'Arial';
}

#main {
    font-family: "Arial";
    font-weight: bold;
    font-size: 200%;
    color: color: rgb(46, 104, 166);
}

#button2 {
  display: inline-block; /* Делает ссылку блочным элементом, чтобы можно было задать ширину, высоту и отступы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  text-decoration: none; /* Убирает подчеркивание ссылки */
  background-color: rgb(46, 104, 166);; /* Цвет фона */
  color: white; /* Цвет текста */
  border: none; /* Убирает границу */
  border-radius: 5px; /* Закругление углов */
  cursor: pointer; /* Изменяет курсор при наведении */
  text-align: center;
}

#button2:hover {
  background-color: rgb(13, 86, 163); /* Изменяет цвет фона при наведении */
}

#ans {
  display: inline-block; /* Делает ссылку блочным элементом, чтобы можно было задать ширину, высоту и отступы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  border-radius: 5px; /* Закругление углов */
}

#button3 {
  display: inline-block; /* Делает ссылку блочным элементом, чтобы можно было задать ширину, высоту и отступы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  text-decoration: none; /* Убирает подчеркивание ссылки */
  background-color: rgb(46, 104, 166);; /* Цвет фона */
  color: white; /* Цвет текста */
  border: none; /* Убирает границу */
  border-radius: 5px; /* Закругление углов */
  cursor: pointer; /* Изменяет курсор при наведении */
  text-align: center;
}

#ex {
    font-weight: bold;
    color: blue;
}
#quest {
    font-weight: bold;
}

#main {
    color: rgb(31, 95, 163);
}